@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur MédiLabo Solutions</h1>
    <p class="lead">Plateforme de gestion des patients et d'évaluation du risque diabète</p>

    <div class="my-5">
        <img src="~/images/medical-team.jpeg" alt="Logo" class="img-fluid rounded shadow" style="max-width: 800px;" />
    </div>

    @if (Context.Session.GetString("JwtToken") != null)
    {
        <a asp-controller="Patients" asp-action="Index" class="btn btn-primary btn-lg">Accéder aux patients</a>
    }
    else
    {
        <a asp-controller="Account" asp-action="Login" class="btn btn-primary btn-lg">Se connecter</a>
    }
</div>